<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <typeAliases>
 <typeAlias type="com.ssm.vo.User" alias="User"/> 
  <package name="com.ssm.vo.User"/>
 </typeAliases>
 <mappers>
 <!-- 所有mapper文件位置 -->
 <mapper resource="com/ssm/vo/userMapper.xml"/>
 </mappers>
</configuration>